# Gradle
.gradle
build/

# Java
*.class
*.jar
!backend/gradle/wrapper/gradle-wrapper.jar
*.war

# IDEs
.idea
*.iml
.vscode
.DS_Store

# Frontend
frontend/node_modules
frontend/dist

# Docker
.env

# Secrets
client_secret_*.json
